* {
  width: 100%;
  box-sizing: border-box;
  font-family: Tahoma;
}

body {
  background-color: #EFD28D;

}

.clicked {
  background-color: #004777;
  color: black;
}

.clicked p {
  color: white;
}

li {
  text-align: center;
  color: #A30000;
  list-style: none;
}

.site-wrapper {
  width: 90%;
  margin: 0 5%;
  padding: 20px;
  min-height: 500px;
}

h1 {
  text-align: center;
  color: #A30000;
  font-size: 48px;
}

h2 {
  text-align: center;
  font-family: Tahoma;
  color: #A30000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#bingoName{
  font-weight: bolder;
  font-size: 28px;
  color: #A30000;
}

.col {
  float: left;
}

.nav-col,
.ad-col {
  min-height: 100px;
}

.buttons-col {
  min-height: 200px;
}


.content-col {
  width: 45%;
}

.content-colA{
  width:10%;
  min-height: 400px;
}

.content-col:nth-of-type(2) {
  margin-right: 5%;
}


.card-col {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  margin: 0px 0;
}

.hidden {
  display: none;
}


.inactive {
  opacity: 0.3;
}

.inactive:hover {
  cursor: default;
}

.button-row .inside-card-col {
  border: 0px;
}

button {
  outline: none;
  height: 50px;
  width: 100%;
  background: #8C4646;
  color: #F2AE72;
}
button:hover {
  background: #F2AE72;
  color: #8C4646;
  cursor: pointer;
}

.button-row {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  margin: 10px 0;
}

.display-row {
  display: flex;
  flex-flow: wrap;;
  justify-content: space-around;;
  margin: 10px 0;
}

.inside-card-col {
  min-height: 50px;
  border: 2px solid #588C7E;
  width: 20%;
  margin: 0 auto;
}

#placeBall {
  border: none;
}

.inside-card-col p {
  text-align: center;
  /*color: #004777;*/
  margin: 0 auto;
  padding: 13px 0px;
}

.buttons-col {
  min-height: 200px;
}

#p1button {
  font-size: 24px;
}

#p2button {
  font-size: 24px;
}

#startButton {
  width:90%;
  margin-left:5%;
  border-radius: 10%;
  font-size: 18px;
}

.ball {
  height: 5vw;
  width: 78%;
  border-radius: 50%;
  background: #004777;
  border: 2px solid #00AFB5;
}

.smallBall {
    height: 3vw;
    margin: 5px 10px;
    width: 4%;
    border-radius: 50%;
    background: #004777;
    border: 2px solid #00AFB5;

}

#smallBallPara {
    background: none;
    color: white;
    margin-top: 22%;
    margin-left: 35%;
}



.ballrow{
  height: 28vh;
  margin-top:10%;
}

.ballrow:first-of-type {
  padding-top: 45%;
}
#placeBall {
  width: 100%;
  padding-left: 20%;
}


#getBall {
  width:100%;
}

#ballPara {
  background: none;
  color: white;
  margin-top: 22%;
}
